03-wsdl/RegistrationServiceWSDL.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ns="http://bowling.com/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://bowling.com/"
>
    <types>
        <xs:schema targetNamespace="http://bowling.com/">
            <xs:element name="registrationRequest">
                <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" minOccurs="1"/>
                            <xs:element name="surname" type="xs:string" minOccurs="1"/>
                            <xs:element name="email" type="xs:string" minOccurs="1"/>
                            <xs:element name="slots" type="xs:int" />
                            <xs:element name="date" type="xs:string" minOccurs="1"/>
                            <xs:element name="ISIC" type="xs:string" minOccurs="1"/>
                            <xs:element name="coupon" type="xs:string" minOccurs="1"/>
                        </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registrationResponse" type="xs:string"/>
        </xs:schema>
    </types>

    <wsdl:message name="registrationRequest">
        <wsdl:part name="parameters" element="ns:registrationRequest"/>
    </wsdl:message>

    <wsdl:message name="registrationResponse"> 
        <wsdl:part name="parameters" element="ns:registrationResponse"/>
    </wsdl:message>

    <wsdl:portType name="RegistrationService">
        <wsdl:operation name="registrationRequest">
            <wsdl:input message="ns:registrationRequest"/>
            <wsdl:output message="ns:registrationResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RegistrationServiceBinding" type="ns:RegistrationService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registrationRequest">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="RegistrationService">
        <wsdl:port name="RegistrationServicePort" binding="ns:RegistrationServiceBinding">
            <soap:address location="http://localhost:8000/RegistrationService"/>
        </wsdl:port>
    </wsdl:service>
</definitions>